<!DOCTYPE html>
<html>
  <head>
    <title>Trending Movies</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon-img.png" />
    <link rel="stylesheet" href="../component.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
    />
    <link rel="stylesheet" href="./trending.css">
  </head>

  <body>
      <nav>
        <h1>INTELLISHIFT TRAINING</h1>
        <ul>
          <li><a href="../../main.html">Home</a></li>
          <li><a href="/components/popular/popular.html">Popular Movies</a></li>
          <li><a href="/components/top_rated/top_rated.html">Top Rated Movies</a></li>
          <li><a href="/components/trending/trending.html">Trending Movies</a></li>
          <li><a href="/components/up_coming/up_coming.html">Up Coming Movies</a></li>
        </ul>
      </nav>
  <section id="trending-container" class="card-container">
    <h2>Trending Movies</h2>
    <div id="trending-content" class="card-container"></div>
  </section>

    <script src="./trending.js"></script>
  </body>
</html>
